.botao{
    background-color: red;
    color: aliceblue;
    border-radius: 10px;
    box-shadow: rgb(0, 0, 0);
    text-align: center;
}

.botao:hover{
    background-color: rgb(255, 175, 175);
    text-align: center;
}

body{
    background-color: rgb(255, 212, 157);
}

input{
    border-radius: 5px;
}